/**********************************************
  Kettenbeil.com
  main.css
**********************************************/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
}

li {
  list-style-type: none;
}





/***********************************************
  COLORS / LINKS
***********************************************/
:root {
  --primary: rgb(0, 162, 255);
  --secondary: #151515;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}





/***********************************************
  FONTS
***********************************************/
@font-face {
  font-family: "Smooch Sans";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/SmoochSans-Medium.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: "Smooch Sans";
  font-weight: 500;
  font-size: 1.5em;
}

.main-headline {
  margin-top: 120px;
  font-size: 5em;
}

.box-headline {
  text-align: center;
}

.logo-headline {
  text-align: center;
  align-content: center;
  background-color: var(--secondary);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/***********************************************
  BACKGROUND-COLORS
***********************************************/

/* Logos */
#logos header {
  background: #151515;
}

#logos main {
  background: #151515;
  background: linear-gradient(325deg, rgba(21, 21, 21, 1) 0%, rgba(154, 205, 50, 1) 69%, rgba(21, 21, 21, 1) 87%);  
}

#logos .nav-item {
  text-shadow: 10px 0px 20px yellowgreen, 10px 0px 20px yellowgreen;
}

#logos .main-headline {
  color: yellowgreen;
}

#logos .brand-name {
  color: yellowgreen;
}

#logos .navbar-brand {
      text-shadow: 10px 0px 20px yellowgreen, 10px 0px 20px yellowgreen;
}




/* Sketches */
#sketches header {
  background: #151515;
}

#sketches main {
  background: #151515;
  background: linear-gradient(325deg, rgba(21, 21, 21, 1) 0%, orange, rgba(21, 21, 21, 1) 87%);  
}

#sketches .nav-item {
  text-shadow: 10px 0px 20px orange, 10px 0px 20px orange;
}

#sketches .main-headline {
  color: orange;
}

#sketches .brand-name {
  color: orange;
}

#sketches .navbar-brand {
      text-shadow: 10px 0px 20px orange, 10px 0px 20px orange;
}





/* Photos */
#fotos header {
  background: #151515;
}

#fotos main {
  background: #151515;
  background: linear-gradient(346deg, rgba(21, 21, 21, 0.95) 12%, purple 40%, #151515 62%);  
}

#fotos .nav-item {
  text-shadow: 10px 0px 20px purple, 10px 0px 20px purple;
}

#fotos .main-headline {
  color: purple;
}

#fotos .brand-name {
  color: purple;
}

#fotos .navbar-brand {
      text-shadow: 10px 0px 20px purple, 10px 0px 20px purple;
}






/***********************************************
  TEMPLATE CONTAINER
***********************************************/
.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  grid-template-columns: 1fr;
  
}



/* Main Container */
header {
  text-align: center;
  z-index: -3;
}

main {
  padding: 25px;
}


footer {
  text-align: center;
  background-color: cornflowerblue;
}


/* Home Site */
.slug-wrapper {
  grid-area: slug-wrapper;
  margin: 40px;
}

.img-shadow {
  grid-area: img-shadow;
}

.main-content {
  grid-area: main-content;
}

.main-content-2 {
  grid-area: main-content-2;
}

.main-content-3 {
  grid-area: main-content-3;
}

.main-content-4 {
  grid-area: main-content-4;
}

.main-content-5 {
  grid-area: main-content-5;
}

.main-content-6 {
  grid-area: main-content-6;
}

.foto-margin {
  margin-bottom: -5px;
}

/* Logos - Template */
#inexorablez {
  grid-area: inexorablez;
  margin-top: 40px;
  text-align: center;
}

#kettenbeil {
  grid-area: kettenbeil;
  text-align: center;
  margin-top: 60px;
}

#superior-attack {
  grid-area: superior-attack;
  text-align: center;
  margin-top: 60px;
}

#christian-s {
  grid-area: christan-s;
  text-align: center;
  margin-top: 60px;
}

#fh-flensburg {
  grid-area: fh-flensburg;
  text-align: center;
  margin-top: 60px;
}

.galleryimage {
  grid-area: galleryimage;
  pointer-events: none;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/********************************************
* Preloader
*********************************************/
#loader-background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 998;
}

#loader {
  position: fixed;
  display: block;
  top: 25%;
  left: 25%;
  width: 160px;
  height: 160px;
  background-image: url(/images/preloader/loader_small.svg);
  background-repeat: no-repeat;
  z-index: 999;
  -webkit-animation: fadeinout 4s infinite forwards;
  animation: fadeinout 4s infinite forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}






/***********************************************
  Navbar
***********************************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: var(--secondary);
  z-index: 1;
}

#brand-headline {
  display: inline-block;
}

#burgerMenu {
  float: right;
  padding: 28px 15px 15px 15px;
}

.menu-dot-arrow {
  padding-right: 10px;
}

.topnav a {
  display: none;
  color: white;
  font-size: 1.1em;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.topnav.responsive a {
  display: block;
  float: none;
  padding: 8px 0px;
}

.responsive {
  margin-top: 0px;
  padding: 0 0 10px 20px;
  background-color: #161616;
}

.toggleMenu {
  content: url("/images/svg/menu-close.svg");
  width: 32px;
  height: 32px;
}

.nav-item {
  display: inline;
  padding: 0 10px;
  font-family: "Smooch Sans";
  color: white;
  text-transform: uppercase;
  text-shadow: 10px 0px 20px var(--primary), 10px 0px 20px var(--primary);
}

.menu-dot-arrow {
  padding-right: 10px;
}

.navbar-brand {
  font-family: "Smooch Sans";
  color: white;
  font-size: 1.5em;
  text-shadow: 10px 0px 20px var(--primary), 10px 0px 20px var(--primary);
}

.logo-brand-wrapper {
  display: inline;
}

.brand-logo {
  width: 25px;
  height: 25px;
  padding: 25px 5px 0px 15px;
  text-shadow: 1px 1px 2px black, 0 0 25px var(--primary),
    10px 0px 20px var(--primary);
}

.brand-name {
  color: var(--primary);
  font-size: 1em;
}

.nav-link:link {
  color: white;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: white;
}

.nav-link:hover::before {
  content: "[";
  display: none;
  color: var(--primary);
}

.nav-link:hover::after {
  content: "]";
  display: none;
  color: var(--primary);
}

.language-pipe {
  display: none;
}

hr {
  display: none;
}

.topnav.responsive hr {
    margin-left: -20px;
    display: block;
  }








/***********************************************
  FOOTER
***********************************************/

footer {
  background-color: black;
}

.footer-logo {
  padding: 75px 0px;
}

.sitemap {
  padding-bottom: 50px;
}

.social-media {
  padding-bottom: 50px;
}

.copyright {
  padding-bottom: 15px;
}

.copyright-text {
  color: rgb(130, 130, 130);
}

.footer-headline {
  color: white;
}

.footer-link {
  margin-top: 15px;
  color: rgb(130, 130, 130);
}

.footer-link a {
  color: rgb(130, 130, 130);
}

.footer-link a:visited {
  color: rgb(130, 130, 130);
}

.footer-link a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.scroll-to-name {
  color: white;
  margin-bottom: 60px;
}


/***********************************************
  IMAGE - GALLERY
***********************************************/
#inexorablez {
  background-color: var(--secondary);
  color: white;
}

#kettenbeil {
  background-color: var(--secondary);
  color: white;
}

#superior-attack {
  background-color: var(--secondary);
  color: white;
}

#christian-s {
  background-color: var(--secondary);
  color: white;
}

#fh-flensburg {
  background-color: var(--secondary);
  color: white;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    background-color: black;
    z-index: 1000;
}

#modal-caption {
  font-size: 1em;
  font-family: "Smooch Sans";;
  color: white;
}

#modal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
}

.close-gallery {
  width: 32px;
  height: 32px;
}


.close-gallery:hover,
.close-gallery:focus {
  fill: #323232;
  text-decoration: none;
  cursor: pointer;
}

#modal-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#modal-image {
    max-width: 40dvw;
    max-height: 60dvh;
}

#modal-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #969696;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#modal-prev {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#modal-prev:hover,
#modal-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.cursor {
  cursor: pointer;
}




/*******************************************************
  Home (Background)
*******************************************************/
#video-wrapper {
  background: url(/images/backgrounds/background.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -2;
}

video {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.video-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slug {
  text-align: center;
  background-color: #fff;
  padding: 15px;
  font-size: 2.6em;
}







/*******************************************************
  Home Form
*******************************************************/

.contact-section {
  background-color: white;
  color: black;
  text-align: center;
  margin: 70px 0 50px 0;
}

#contact-form {
  background-color: white;
  margin-bottom: 65px;
}

.label-form {
  display: none;
  margin-bottom: 10px;
}

.input-form {
  margin-bottom: 55px;
  display: block;
  border: none;
  width: 270px;
  border-bottom: 1px solid var(--primary);
}

.input-form:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
}

.send-button {
  padding: 20px;
  margin-left: 35px;
  color: var(--primary);
  background-color: white;
  border-radius: 5px;
  border-color: var(--secondary);
}

.clear-button {
  padding: 20px;
  color: var(--primary);
  background-color: white;
  border-radius: 5px;
  border-color: var(--secondary);
}



/*******************************************************
  Images
*******************************************************/
.logo-link {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.home-link {
  width: 100%;
  height:auto;
  display: inline-block;
  padding: 10px 0;
  font-size: 0.4em;
}

.main-content,
.main-content-4,
.main-content-6 {
  margin-bottom: 30px;
}

.main-content-2,
.main-content-3,
.main-content-5 {
  background-color: #fff !important;
}

.card-headline {
  font-size: 2em;
  font-family: "Smooch Sans";
  transition-delay: 0s, 0s;
  transition-delay: 0.1s;
  border: none;
  height: 100%;
  align-content: center;
  text-align: center;
}

.card {
  background-color: var(--secondary);
  color: #fff;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:link {
  color: #fff;
}

.card:visited {
  color: #fff;
}

.card:active {
  color: #fff;
}







/*******************************************************
  Media Queries - (landscape phones, 576px and up)
*******************************************************/
@media (min-width: 576px) {
  
  /* PRELOADER */
  #loader {
    top: 30%;
    left: 37%;
  }

  /* TEMPLATE CONTAINER */


  /* NAVBAR */
  .topnav a {
    font-size: 1em;
  }

  .topnav.responsive a {
    padding: 5px 0px;
  }

  .responsive {
    margin-top: 0px;
  }
}








/*******************************************************
  Media Queries - (tablets, 768px and up)
*******************************************************/
@media (min-width: 768px) {

  /* PRELOADER */
  #loader {
    top: 32%;
    left: 33%;
    width: 360px;
    height: 360px;
  }

  /* TEMPLATE CONTAINER */
  main {
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
    "slug-wrapper"
    "img-shadow";
  }

  #logos main {
    display: inline;
    grid-template-areas: none;
    padding: 25px 90px;
  }

  .img-shadow {
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
    "main-content main-content-2"
    "main-content-3 main-content-4"
    "main-content-6 main-content-5";
  }

  .main-content,
  .main-content-4,
  .main-content-6 {
    margin-bottom: 0;
  }

  .form-container {
    display: grid;
  }

  #contact-form {
    padding-left: 170px;
  }

  .input-form {
    width: 80%;
  }

  #inexorablez {
    font-size: 3.5em;
  }

  #kettenbeil {
    font-size: 3.5em;
  }

  #superior-attack {
    font-size: 3.5em;
  }

   #christian-s {
    font-size: 3.5em;
  }

   #fh-flensburg {
    font-size: 3.5em;
  }

  /* IMAGES */
  .card {
    background-color: var(--secondary);
    color: #fff;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19);
  }

  .card-headline {
    font-size: 2em;
    transition-delay: 0s, 0s;
    transition-delay: .1s;
    border: none;
    height: 100%;
    align-content: center;
    text-align: center;
}

  /* NAVBAR */
  .topnav a {
    font-size: 1.1em;
  }

  .topnav.responsive a {
    padding: 15px 0px;
  }

  .home-link {
    display: contents;
  }

  .main-headline {
    margin-top: 200px;
  }

  .logo-headline {
    margin-top: 60px;
  }


  #logos main {
    background: #151515;
    background: linear-gradient(345deg, rgba(21, 21, 21, 1) 15%, rgba(154, 205, 49, 1) 52%, rgba(21, 21, 21, 1) 75%);
  }

  #sketches main {
    background: #151515;
    background: linear-gradient(345deg, rgba(21, 21, 21, 1) 15%, rgba(255, 165, 0, 1) 52%, rgba(21, 21, 21, 1) 75%);
  }
}









/*******************************************************
  Media Queries - (desktops, 992px and up)
*******************************************************/
@media (min-width: 992px) {

  /* PRELOADER */
  #loader {
    top: 30%;
    left: 40%;
    width: 360px;
    height: 360px;
  }

  /* TEMPLATE CONTAINER */
  #logos .container {
    display: grid;
    grid-column: 1 / 4;

  }

  footer {
    display: grid;
  }

  .form-container {
    padding: 50px;
  }

  .send-button:hover {
    color: green;
  }

  .clear-button:hover {
    color: red;
  }

  .footer-logo {
    grid-column: 1 / 2;
  }

  .sitemap {
    align-content: center;
    grid-column: 2 / 3;
    padding-top: 65px;
  }

  .social-media {
    align-content: center;
    grid-column: 3 / 4;
    padding-top: 65px;
  }

  .copyright {
    grid-column: 1 / 5;
  }

  #scrollToTopBtn {
  padding-top: 65px;
  grid-column: 4 / 5;
}

  .gallery {
    grid-column: 3 / 5;
  }

  #inexorablez {
    grid-column: 1 / 5;
    text-align: left;
    font-size: 1.2em;
    background:var(--secondary);
    color: white;
    margin: 0px 25px 5px 0px;
    padding-left: 20px;
  }

  #kettenbeil {
    grid-column: 1 / 5;
    text-align: left;
    font-size: 1.2em;
    color: white;
    background:var(--secondary);
    margin: 0px 25px 5px 0px;
    padding-left: 20px;
  }

  #superior-attack {
    grid-column: 1 / 5;
    text-align: left;
    font-size: 1.2em;
    color: white;
    background:var(--secondary);
    margin: 0px 0px 5px 0px;
    width: 525px;
    padding-left: 20px;
  }

  #christian-s {
    grid-column: 1 / 5;
    text-align: left;
    font-size: 1.2em;
    color: white;
    background:var(--secondary);
    margin: 0px 0px 5px 0px;
    width: 250px;
    padding-left: 20px;
  }

  #fh-flensburg {
    grid-column: 1 / 5;
    text-align: left;
    font-size: 1.2em;
    color: white;
    background:var(--secondary);
    margin: 0px 0px 5px 0px;
    width: 250px;
    padding-left: 20px;
  }

  .slug-wrapper {
    margin: 70px 0;
  }

  .contact-section {
    margin: 100px 0 50px 0;
  }


  .galleryimage {
    width: 32%;
  }

  #modal-image {
    max-width: 55dvw;
  }

  #modal-filmstrip {
    margin-left: 30px;
  }

  #inexorablez {
    font-size: 1.2em;
  }

  /* NAVBAR */
  .navbar-brand {
    font-size: 1.2em;
  }

  .topnav {
    float: right;
    padding: 20px;
  }

  .topnav a {
    display: inline;
    font-size: 1em;
    padding: 0px;
  }

  #burgerMenu {
    display: none;
  }

  .brand-logo {
    padding: 15px 5px 0px 15px;
    width: 25px;
    height: 25px;
  }

  .menu-dot-arrow {
    display: none;
  }

  .nav-item {
    position: relative;
    padding: 20px 15px;
  }

  .nav-link:hover::before {
    content: "[";
    display: inline;
    position: absolute;
    left: 15px;
  }

  .nav-link:hover::after {
    content: "]";
    display: inline;
    position: absolute;
    right: 20px;
  }

  #logos .nav-link:hover::before {
  content: "[";
  display: inline;
  color: yellowgreen;
}

  #logos .nav-link:hover::after {
    content: "]";
    display: inline;
    color: yellowgreen;
}


  #sketches .nav-link:hover::before {
    content: "[";
    display: inline;
    color: orange;
  }

  #sketches .nav-link:hover::after {
    content: "]";
    display: inline;
    color: orange;
  }

  #fotos .nav-link:hover::before {
    content: "[";
    display: inline;
    color: purple;
  }

  #fotos .nav-link:hover::after {
    content: "]";
    display: inline;
    color: purple;
  }

  .active {
    border-bottom: 2px solid var(--primary);
  }

  #logos .active {
    border-bottom: 2px solid yellowgreen;
  }

  #sketches .active {
    border-bottom: 2px solid orange;
  }

  #fotos .active {
    border-bottom: 2px solid purple;
  }

  .language-pipe {
    display: inline;
  }

  .nav-divider {
    display: none;
    margin-left: -10px;
  }

  /* IMAGES */
  .card:hover {
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0;
  }

}









/*******************************************************
  Media Queries - (large desktops, 1200px and up)
*******************************************************/
@media (min-width: 1200px) {

  /* PRELOADER */
  #loader {
    top: 29%;
    left: 36%;
    width: 360px;
    height: 360px;
  }


  /* TEMPLATE CONTAINER */
  main {
    padding: 150px;
  }

  .galleryimage {
    pointer-events: all ;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .galleryimage:hover {
    opacity: 1;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
  }

  .img-shadow {
    grid-gap: 25px;
  }

   #inexorablez {
    margin: 50px 35px 5px 0px;
    padding: 25px 25px;
  }

  #kettenbeil {
    margin: 50px 35px 5px 0px;
    padding: 25px 25px;
  }

  #superior-attack {
    margin: 50px 390px 5px 0px;
    padding: 25px 25px;
    width: 660px;
  }

  #christian-s {
    margin: 50px 390px 5px 0px;
    padding: 25px 25px;
    width: 301px;
  }

  #fh-flensburg {
    margin: 50px 390px 5px 0px;
    padding: 25px 25px;
    width: 301px;
  }

  .slug-wrapper {
    margin-bottom: 65px;
  }

  .input-form {
    font-size: 1.0em;
    margin-bottom: 50px;
  }

  .clear-button {
    margin-left: 35px;
  }


  /* NAVBAR */
  .brand-logo {
    width: 20px;
    height: 20px;
    padding: 20px 5px 0px 15px;
  }

  .navbar-brand {
    font-size: 1.3em;
  }

  .topnav a {
    font-size: 1em;
    padding: 0 10px;
  }

  .nav-item {
    padding: 20px 10px;
  }

  .nav-link:hover::before {
    left: 5px;
  }

  .nav-link:hover::after {
    right: 10px;
  }

  /* IMAGES */
  .card-headline {
    padding: 0;
  }

  .logo-link {
    width: 100%;
    height: 100%;
  }

  #logos main {
    background: #151515;
    background: linear-gradient(346deg, rgba(21, 21, 21, 0.95) 12%, rgba(154, 205, 49, 1) 40%, rgba(21, 21, 21, 1) 62%);
  }

  #sketches main {
    background: #151515;
    background: linear-gradient(346deg, rgba(21, 21, 21, 0.95) 12%, rgba(255, 165, 0, 1) 40%, rgba(21, 21, 21, 1) 62%);
  }

  #modal-filmstrip {
    width: 60%;
    margin: 0;
  }
}









/*******************************************************
  Media Queries - (larger desktops, 1400px and up)
*******************************************************/
@media (min-width: 1400px) {

  /* PRELOADER */
  #loader {
    top: 32%;
    left: 38%;
    width: 360px;
    height: 360px;
    background-image: url(/images/preloader/loader.svg);
  }

  /* TEMPLATE CONTAINER */
  .gallery {
    margin-top: -10px;
  }

  #inexorablez {
    margin: 50px 40px 15px 0px;
    font-size: 1em;
  }

 
  #kettenbeil {
    margin: 50px 40px 15px 0px;
    font-size: 1em;
  }

  #superior-attack {
    margin: 50px 35px 15px 0px;
    font-size: 1em;
    width: 762px;
  }

  #christian-s {
    margin: 50px 35px 15px 0px;
    font-size: 1em;
    width: 354px;
  }

  #fh-flensburg {
    margin: 50px 35px 15px 0px;
    font-size: 1em;
    width: 354px;
  }

  .clear-button {
    margin-left: 35px;
    padding: 20px 50px;
  }

  .send-button {
    padding: 20px 50px;
  }



  /* NAVBAR */
  .topnav a {
    font-size: 1em;
  }

  .navbar-brand {
    font-size: 1.2em;
  }

  .brand-logo {
    padding: 20px 5px 0px 15px;
    width: 20px;
    height: 20px;
  }


  /* Image - Gallery */
  .column {
    width: 25%;
    margin-bottom: 0;
    margin-right: 25px;
  }

  /* Closable button inside the expanded image */
  .closebtn {
    display: block;
  }

  #expandedImg {
    display: block;
  }

  #imgtext {
    display: block;
  }

  .logo-headline {
    margin-top: 0px;
  }

  .close-gallery {
    width: 80px;
    height: 80px;
  }

}


/*******************************************************
  Media Queries - (larger desktops, 1920px and up)
*******************************************************/
@media (min-width: 1920px) {

  #inexorablez {
    margin: 50px 60px 35px 0px;
  }

  #kettenbeil {
    margin: 50px 60px 35px 0px;
  }

  #superior-attack {
    width: 1069px;
    margin: 50px 35px 35px 0px;
  }

  #christian-s {
    width: 508px;
    margin: 50px 35px 35px 0px;
  }

  #fh-flensburg {
    width: 508px;
    margin: 50px 35px 35px 0px;
  }

  .gallery {
    margin-top: -30px;
  }

  .clear-button {
    padding: 50px 90px;
  }

  .send-button {
    padding: 50px 90px;
    margin-right: 55px;
  }

}





/*******************************************************
  Media Queries - (larger desktops, 2000px and up)
*******************************************************/
@media (min-width: 2000px) {

  /* PRELOADER */
  #loader {
    top: 45%;
    left: 40%;
  }

  #inexorablez {
    margin: 50px 85px 92px 0px;
  }

  #kettenbeil {
    margin: 50px 85px 92px 0px;
  }

  #superior-attack {
    width: 1478px;
    margin: 50px 35px 90px 0px;
  }

   #christian-s {
    width: 712px;
    margin: 50px 35px 90px 0px;
  }

   #fh-flensburg {
    width: 712px;
    margin: 50px 35px 90px 0px;
  }


  .gallery {
    margin-top: -85px;
  }

  /* NAVBAR */
  .topnav {
    padding: 30px 0px;
  }

  .topnav a {
    font-size: 1.2em;
    padding: 0 60px;
  }

  .nav-item {
    padding: 0;
  }

  .brand-logo {
    width: 30px;
    height: 30px;
    padding-left: 30px;
  }

  .navbar-brand {
    font-size: 1.8em;
  }

  .nav-link:hover::before {
    left: 25px;
  }

  .nav-link:hover::after {
    right: 25px;
  }
}





/*******************************************************
  Media Queries - (larger desktops 4K, 3800px and up)
*******************************************************/
@media (min-width: 3800px) {

  /* PRELOADER */
  #loader {
    top: 38%;
    left: 40%;
  }

  .main-headline {
    font-size: 12em;
  }

  #inexorablez {
    margin: 50px 135px 150px 0px;
    height: 60px;
    font-size: 3em;
  }

  #kettenbeil {
    margin: 50px 135px 150px 0px;
    height: 60px;
    font-size: 3em;
  }

  #superior-attack {
    width: 2300px;
    margin: 50px 35px 150px 0px;
  }

  #christian-s {
    width: 1120px;
    margin: 50px 35px 150px 0px;
  }

  #fh-flensburg {
    width: 1120px;
    margin: 50px 35px 150px 0px;
  }

  .gallery {
    margin-top: -140px;
  }

  /* NAVBAR */
  .topnav {
    padding: 32px;
  }

  .topnav a {
    font-size: 2.5em;
    padding: 0 40px;
  }

  .brand-logo {
    padding: 34px 5px 0px 45px;
    width: 50px;
    height: 50px;
  }

  .navbar-brand {
    font-size: 3.5em;
  }

  .nav-link:hover::before {
    left: -10px;
  }

  .nav-link:hover::after {
    right: 10px;
  }

  .galleryimage {
    margin-left: 30px;
}
}
