/**********************************************
  Kettenbeil.com
  main.css
**********************************************/

* {
  margin: 0;
  padding: 0;
}

/***********************************************
  Colors
***********************************************/

$primary: rgb(0, 162, 255);
$secondary: #333;

:root{ 
  --data-color-primary:#{$primary};
  --data-color-secondary:#{$secondary};
}



/***********************************************
  TEMPLATE CONTAINER
***********************************************/
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  grid-area: nav;
  background-color:blue;
}

header {
  grid-area: header;
  background-color: darkcyan;
}

main {
  grid-area: main;
  background-color: chocolate;
}

footer {
  grid-area: footer;
  background-color: cornflowerblue;
}



/***********************************************
  Navbar
***********************************************/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: $secondary;
  z-index: 1;
}

#burgerMenu {
  display: inline;
  float: right;
  padding-top: 2px;
}

.topnav a {
  float: right;
  display: none;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.topnav.responsive a {
  display: block;
  float: none;
}

.toggleMenu {
  content:url("/images/svg/menu-close.svg");
  width: 32px;
  height: 32px;
}

.nav-item {
  display: block;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 10px 0px 20px $primary,
               10px 0px 20px $primary;
}

.nav-link {
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.8rem;
  text-shadow: 10px 0px 20px $primary,
               10px 0px 20px $primary;
}

.logo-brand-wrapper {
  padding: 20px 15px;
}

.brand-logo {
  text-shadow: 1px 1px 2px black,
               0 0 25px $primary,
               10px 0px 20px #004f7c;
}

.brand-name {
  color: $primary;
}





/*******************************************************
  Home (Background)
*******************************************************/
#video-wrapper {
  background: url(/images/backgrounds/background.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

video {
  display: inline;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: .6;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.video-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  align-items: center;
  justify-content: center;
}


/*  X-Small devices (portrait phones, less than 576px)
      No media query for `xs` since this is the default in Bootstrap
  */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* TEMPLATE CONTAINER */
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  /* NAVBAR */
  .topnav a {
    display: inline;
  }

  #burgerMenu {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}