<!DOCTYPE html>
<html lang="de">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- CONTAINER START -->
    <div class="container">

        <!-- PRELOADER START -->
        {{ partial "preloader.html" . }}
        <!-- PRELOADER END -->

        <!-- NAVBAR START -->
        {{ partial "navbar.html" . }}
        <!-- NAVBAR END -->

        <!-- MAIN START -->
        <header>
            {{ block "header" . }}{{ end }}
        </header>
        <!-- MAIN END-->

        <!-- MAIN START -->
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <!-- MAIN END-->

        <!-- FOOTER START -->
        {{ partial "footer.html" . }}
        <!-- FOOTER END -->
        
    </div>
    <!-- CONTAINER END -->
</body>

</html>