<!DOCTYPE html>
<html lang="de">

<head>
    {{ partial "head.html" . }}
</head>

<body>

    {{ "<!-- CONTAINER START -->" | safeHTML }}
    <div class="container">


        {{ "<!-- PRELOADER START -->" | safeHTML }}
            {{ partialCached "preloader.html" . }}
        


        {{ "<!-- NAVBAR START -->" | safeHTML }}
            {{ partialCached "navbar.html" . }}
        


        {{ "<!-- HEADER START -->" | safeHTML }}
            <header>
                {{ block "header" . }}{{ end }}
            </header>
        


        {{ "<!-- MAIN START -->" | safeHTML }}
            <main>
                {{ block "main" . }}{{ end }}
            </main>
        


        {{ "<!-- FOOTER START -->" | safeHTML }}
            {{ partialCached "footer.html" . }}
        
    </div>
</body>
</html>