<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

{{ $id := or (replace (strings.TrimLeft "/" .Path) "/" "_") "home" }}
<body id="{{ $id }}">

    {{ "<!-- CONTAINER START -->" | safeHTML }}
    <div class="container">


        {{ "<!-- PRELOADER START -->" | safeHTML }}
            {{ partialCached "preloader.html" . }}
        


        {{ "<!-- NAVBAR START -->" | safeHTML }}
            {{ partial "navbar.html" . }}
        


        {{ "<!-- HEADER START -->" | safeHTML }}
            <header>
                {{ block "header" . }}{{ end }}
            </header>
        


        {{ "<!-- MAIN START -->" | safeHTML }}
            
            <main>
                {{ block "main" . }}{{ end }}
            </main>
        

        {{ "<!-- SCROLL TO TOP START -->" | safeHTML }}
            {{ partialCached "scroll-to-top.html" . }}


            
        {{ "<!-- FOOTER START -->" | safeHTML }}
            {{ partial "footer.html" . }}
        
    </div>

    <noscript id="noscript">
        <p>{{ T "noscript" }}<br>
            {{ T "noscript_enable" }}
        </p>
    </noscript>
</body>
</html>