{{ define "header" }}

<!-- VIDEO START -->
{{ partialCached "video.html" . }}
<!-- VIDEO END -->

{{ end }}


{{ define "main" }}
  
  <div class="slug-wrapper">

    <h2 class="slug">{{ T "slug" }}<b class="slug-small"> {{ T "small-slug" }}</b></h2> 
  
  </div>

  <div class="img-shadow">

      <!-- LOGOS -->
      <div class="main-content-2 card">
          {{ $logicalPath := "/logos" }}
            {{ with site.GetPage $logicalPath }}
          <a href="{{ .RelPermalink }}">
              <img class="card-headline logo-link" src="/images/logos/inexorablez/inexorablez-01-thumb.webp" alt="Link to Logos">
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>

      <div class="main-content card">
          {{ $logicalPath := "/logos" }}
            {{ with site.GetPage $logicalPath }}
          <a class="home-link" href="{{ .RelPermalink }}">
              <p class="card-headline">{{ T "logos" }}</p>
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>

      <!-- PHOTOS -->
      <div class="main-content-3 card">
          {{ $logicalPath := "/fotos" }}
            {{ with site.GetPage $logicalPath }}
          <a href="{{ .RelPermalink }}">
              <img class="card-headline logo-link foto-margin" src="/images/photos/sydney-palm-01-thumb.webp" alt="Link to Photos">
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>

      <div class="main-content-4 card">
          {{ $logicalPath := "/fotos" }}
            {{ with site.GetPage $logicalPath }}
          <a class="home-link" href="{{ .RelPermalink }}">
              <p class="card-headline">{{ T "photos" }}</p>
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>



      <!-- SKETCHES -->
      <div class="main-content-5 card">
          {{ $logicalPath := "/sketches" }}
            {{ with site.GetPage $logicalPath }}
          <a href="{{ .RelPermalink }}">
              <img class="card-headline logo-link" src="/images/sketches/kz-01-thumb.webp" alt="Link to Sketches">
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>

      <div class="main-content-6 card">
          {{ $logicalPath := "/sketches" }}
            {{ with site.GetPage $logicalPath }}
          <a class="home-link" href="{{ .RelPermalink }}">
              <p class="card-headline">{{ T "sketches" }}</p>
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
            {{ end }}
      </div>

  </div>

  <section class="contact-section">
    <div>
      <h2 class="slug"><b class="slug-small">{{ T "form-slug" }}</b> {{ T "form-slug-2" }} <br><i class="slug-small">{{ T "form-slug-3" }} </i>{{ T "form-slug-4" }}</h2>
    </div>
  </section>

  {{ partial "form.html" . }}

{{ end }}