{{ define "header" }}

<!-- VIDEO START -->
{{ partialCached "video.html" . }}
<!-- VIDEO END -->

{{ end }}


{{ define "main" }}
  
  <section class="slug-wrapper">
    <h1 class="slug">{{ T "slug" }}<b class="slug-small"> {{ T "small-slug" }}</b></h1>
  </section>

      <!-- LOGOS -->
      <section class="logos-section">
        <div class="logos-image card">
            {{ $logicalPath := "/logos" }}
              {{ with site.GetPage $logicalPath }}
            <a href="{{ .RelPermalink }}">
                <img class="card-headline logo-link" src="/images/logos/inexorablez/inexorablez-01-thumb.webp" alt="Link to Logos">
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>

        <div class="logos-link card">
            {{ $logicalPath := "/logos" }}
              {{ with site.GetPage $logicalPath }}
            <a class="home-link" href="{{ .RelPermalink }}">
                <p class="card-headline">{{ T "logos" }}</p>
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>
      </section>

      <!-- PHOTOS -->
      <section class="photos-section">
        <div class="photos-image card">
            {{ $logicalPath := "/fotos" }}
              {{ with site.GetPage $logicalPath }}
            <a href="{{ .RelPermalink }}">
                <img class="card-headline logo-link foto-margin" src="/images/photos/sydney-palm-01-thumb.webp" alt="Link to Photos">
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>

        <div class="photos-link card">
            {{ $logicalPath := "/fotos" }}
              {{ with site.GetPage $logicalPath }}
            <a class="home-link" href="{{ .RelPermalink }}">
                <p class="card-headline">{{ T "photos" }}</p>
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>
      </section>


      <!-- SKETCHES -->
      <section class="sketches-section">
        <div class="sketches-image card">
            {{ $logicalPath := "/sketches" }}
              {{ with site.GetPage $logicalPath }}
            <a href="{{ .RelPermalink }}">
                <img class="card-headline logo-link" src="/images/sketches/kz-01-thumb.webp" alt="Link to Sketches">
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>

        <div class="sketches-link card">
            {{ $logicalPath := "/sketches" }}
              {{ with site.GetPage $logicalPath }}
            <a class="home-link" href="{{ .RelPermalink }}">
                <p class="card-headline">{{ T "sketches" }}</p>
            </a>
            {{ else }}
              {{ errorf "Unable to get page %s" $logicalPath }}
              {{ end }}
        </div>
      </section>

  <!-- CONTACT SECTION -->
  <section class="contact-section">
    <div>
      <h1 class="slug"><b class="slug-small">{{ T "form-slug" }}</b> {{ T "form-slug-2" }} <br><i class="slug-small">{{ T "form-slug-3" }} </i>{{ T "form-slug-4" }}</h1>
    </div>
  </section>

  {{ partialCached "form.html" . }}

{{ end }}