{{ define "header" }}

<!-- VIDEO START -->
{{ partial "video.html" . }}
<!-- VIDEO END -->

{{ end }}

{{ define "main" }}

{{ .Content }}

<div class="slug-wrapper">
    <h2 class="slug"><b>Some</b><i> of my</i> work</h2>
</div>

<div class="img-shadow">
    <div class="main-content-2">
        <a href="/logos">
            <img class="card-headline" src="/images/logos/inexorablez-01-thumb.webp" alt="Link to Logos">
        </a>
    </div>

    <div class="main-content">
        <a href="/logos">
            <p class="card-headline">View Logos</p>
        </a>
    </div>
</div>
{{ end }}