<footer>

<div class="footer-logo">
  <img alt="Kettenbeil Logo" src="/images/kettenbeil-logos/kettenbeil-Logo-footer.webp">
</div>

<div class="sitemap">
  <h3 class="footer-headline">Sitemap</h3>
  <ul>
    {{ range site.Menus.main }}
    <li class="footer-link">
      <a href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>

<div class="social-media">
  <h3 class="footer-headline">Social Media</h3>
  <ul>

    {{ range site.Menus.footer }}
    <li class="footer-link">
      <a href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}

  </ul>
</div>

<div id="scrollToTopBtn">
  <p>{{ partialCached "scroll-to-top.html" . }}</p>
  <p class="scroll-to-name">nach oben</p>  
</div>

<div class="copyright">
  <p class="copyright-text">
    Copyright {{ now.Year }}. Alle Rechte vorbehalten.
    <span class="copy-imprint">
      {{ $logicalPath := "/impressum" }}
            {{ with site.GetPage $logicalPath }}
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
          {{ else }}
            {{ errorf "Unable to get page %s" $logicalPath }}
          {{ end }}
    </span>
  </p>
</div>

</footer>
