<!-- fabform -->
<div class="form-container">
      <form id="contact-form" action="https://fabform.io/f/insert-later" method="post">

          <label class="label-form" for="firstName">{{ T "given-name" }}:</label>
          <input class="input-form" id="firstName" name="firstName" type="text" placeholder='{{ T "given-name" }}*' autocomplete="given-name" required>

          <label class="label-form" for="lastName">{{ T "family-name" }}:</label>
          <input class="input-form" id="lastName" name="lastName" type="text" placeholder='{{ T "family-name" }}*' autocomplete="family-name" required>

          <label class="label-form" for="email">{{ T "email" }}:</label>
          <input class="input-form" id="email" name="email" type="email" placeholder='{{ T "email" }}*' autocomplete="email" required>

          <label class="label-form" for="mobile">{{ T "tel" }}:</label>
          <input class="input-form" id="mobile" name="mobile" type="tel" placeholder='{{ T "tel" }}' autocomplete="tel">

          <label class="label-form" for="f_reason">{{ T "f_reason" }}:</label>
          <select class="input-form" id="f_reason" name="f_reason" required>
            <option value="" disabled selected>{{ T "f_reason" }}</option>
            <option value="gd">{{ T "gd" }}</option>
            <option value="wd">{{ T "wd" }}</option>
            <option value="pt">{{ T "pt" }}</option>
            <option value="ot">{{ T "ot" }}</option>
          </select>

          <label class="label-form" for="message">{{ T "message_head" }}:</label>
          <textarea class="input-form" id="message" name="message" placeholder='{{ T "message" }}' rows="6" required></textarea>
          
          <button class="clear-button" type="reset">{{ T "clear" }}</button>
          <button class="send-button" type="submit">{{ T "send" }}</button>
      </form>
</div>
<!-- fabform end -->