<!-- The four columns -->
<div class="gallery-row">
    <div class="gallery-column">
      <img src="/images/logos/inexorablez-03.png" class="inexorables-logo-1" alt="inexorablez Logo #1">
    </div>
    <div class="gallery-column">
      <img src="/images/logos/inexorablez-01.webp" class="inexorables-logo-2" alt="inexorablez Logo #2">
    </div>
    <div class="gallery-column">
      <img src="/images/logos/inexorablez-02.png" class="inexorables-logo-3" alt="inexorablez-Logo #3">
    </div>
</div>
  
<div class="galleryy-container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg">
    <div id="imgtext"></div>
</div>