<div class="row">
  
  <div class="category-box">
    {{ with .Site.GetPage "/logos" }}
      <h2 class="box-headline">{{ index .Params.headline 0 }}</h2>
    {{ end }}
  </div>

  {{ $counter := 1 }}
  {{ range .Params.logo_thumbs_inexorablez }}
  {{ $id := printf "image-wrapper-%d" $counter }}
  <div id="{{ $id }}">
    <img
      src="/{{ . }}"
      onclick="openModal();currentSlide(1)"
      class="hover-shadow cursor"
    />
  </div>
  {{ $counter = add $counter 1 }}
  {{ end }}

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides">
      <div class="numbertext">1 / 3</div>
      <img
        class="image-slide"
        src="/images/logos/inexorablez/inexorablez-01.webp"
      />
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 3</div>
      <img
        class="image-slide"
        src="/images/logos/inexorablez/inexorablez-02.webp"
      />
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 3</div>
      <img
        class="image-slide"
        src="/images/logos/inexorablez/inexorablez-03.webp"
      />
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="column">
      <img
        class="demo cursor"
        src="/images/logos/inexorablez/inexorablez-01.webp"
        onclick="currentSlide(1)"
        alt="Inerorablez #1"
      />
    </div>
    <div class="column">
      <img
        class="demo cursor"
        src="/images/logos/inexorablez/inexorablez-02.webp"
        onclick="currentSlide(2)"
        alt="Inerorablez #2"
      />
    </div>
    <div class="column">
      <img
        class="demo cursor"
        src="/images/logos/inexorablez/inexorablez-03.webp"
        onclick="currentSlide(3)"
        alt="Inerorablez #3"
      />
    </div>
  </div>
</div>




<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>
