<div class="row">
  {{ range .Params.logos.kettenbeil }}
    <div class="column">
      <img id="test-id-{{ .id }}" src="{{ .thumb }}" style="width:100%" class="hover-shadow cursor">
    </div>
  {{ end }}
  </div>

{{ $currentpage := . }}
<div id="myModal" class="modal">
  <span class="close cursor">&times;</span>
  <div class="modal-content">

  {{ range .Params.logos.kettenbeil }}
    <div class="mySlides">
      <div class="numbertext">{{ .id }} / {{ len $currentpage.Params.logos.kettenbeil }}</div>
      <img src="{{ .image }}" style="width:100%">
    </div>
  
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    
    <div class="column">
      <img class="demo cursor" src="{{ .image }}" style="width:100%" alt="{{ .title }}">
    </div>
    {{ end }}
  </div>
</div>