<nav>

  {{ "<!-- LOGO AND BRAND -->" | safeHTML }}
  <div class="logo-brand-wrapper">
    <a href="{{ .Site.BaseURL | relLangURL }}">
        {{ partial "logo.html" . }}
    </a>
    <h1 id="brand-headline">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
          <span class="brand-name">Ketten</span>beil
      </a>
    </h1>


    {{ "<!-- BURGER MENU -->" | safeHTML }}
    <a href="#" id="burgerMenu" class="icon">
      {{ partial "burger-menu.html" . }}
    </a>
  </div>


  {{ "<!-- TOP NAVIGATION MENU -->" | safeHTML }}
  <ul class="topnav" id="myTopnav">
    {{ range site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          {{ partial "menu-arrow.html" . }}
          {{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>
  
</nav>