<nav>
  {{ "<!-- LOGO AND BRAND -->" | safeHTML }}
  <div class="logo-brand-wrapper">
    <a href="{{ .Site.BaseURL | relLangURL }}">
      <image alt="Kettenbeil-Logo" src="/images/svgs/kettenbeil-logo.svg">
    </a>
    <div id="brand-headline">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        <span class="brand-name">Ketten</span>beil
      </a>
    </div>

    {{ "<!-- BURGER MENU -->" | safeHTML }}
    <a href="#" id="burgerMenu" class="icon">
        <image alt="menu items" src="/images/svgs/menu.svg">
    </a>
  </div>

  {{ "<!-- TOP NAVIGATION MENU -->" | safeHTML }}
  <ul class="topnav" id="myTopnav">
    {{ range site.Menus.main }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL }}">
          <image alt="menu items" src="/images/svgs/menu-arrow.svg">
        {{ .Name }}
      </a>
    </li>
    {{ end }}

    <li class="nav-item nav-divider"></li>

    {{ range .AllTranslations }}
      <li class="nav-item language-pipe">|</li>
      <li class="nav-item">
        <a class="nav-link" href="{{ .Permalink }}">
            <image alt="Language items" src="/images/svgs/menu-arrow.svg">
          {{ .Language.LanguageName }}
        </a>
      </li>
    {{ end }}

  </ul>
</nav>
