<header>

  <!-- VIEDO START-->
  <div class="video-section">
      <div id="video-wrapper">
        <video autoplay="" muted="" loop="" id="myVideo" preload="auto"></video>
      </div>
      <!--
      <div>
          <p class="arrow-box">
            <a class="readmore" href="#to-next-section">READ MORE</a><br>
            <a class="to-next-section" href="#to-next-section"><i class="fa-solid fa-angle-down fa-3x"></i></a>
          </p>
      </div> -->
  </div>
  <!-- VIDEO END -->

</header>