<!-- fabform -->
<div class="form-contact-container">
      <form id="contact-form-site" action="https://api.slapform.com/ocPNNbsx49&slap_redirect=https://kettenbeil.com" method="post">

          <label class="label-form" for="firstName">{{ $.Get "given-name" }}:</label>
          <input class="input-form" id="firstName" name="firstName" type="text" placeholder='{{ $.Get "given-name" }}*' autocomplete="given-name" required>

          <label class="label-form" for="lastName">{{ $.Get "family-name" }}:</label>
          <input class="input-form" id="lastName" name="lastName" type="text" placeholder='{{ $.Get "family-name" }}*' autocomplete="family-name" required>

          <label class="label-form" for="email">{{ $.Get "email" }}:</label>
          <input class="input-form" id="email" name="email" type="email" placeholder='{{ $.Get "email" }}*' autocomplete="email" required>

          <label class="label-form" for="mobile">{{ $.Get "tel" }}:</label>
          <input class="input-form" id="mobile" name="mobile" type="tel" placeholder='{{ $.Get "tel" }}' autocomplete="tel">

          <label class="label-form" for="f_reason">{{ $.Get "f_reason" }}:</label>
          <select class="input-form" id="f_reason" name="f_reason" required>
            <option value="" disabled selected>{{ $.Get "f_reason" }}</option>
            <option value="gd">{{ $.Get "gd" }}</option>
            <option value="wd">{{ $.Get "wd" }}</option>
            <option value="pt">{{ $.Get "pt" }}</option>
            <option value="ot">{{ $.Get "ot" }}</option>
          </select>

          <label class="label-form" for="message">{{ $.Get "message_head" }}:</label>
          <textarea class="input-form" id="message" name="message" placeholder='{{ $.Get "message" }}' rows="6" required></textarea>
          
          <button class="clear-button" type="reset">{{ $.Get "clear" }}</button>
          <button class="send-button" type="submit">{{ $.Get "send" }}</button>
      </form>
</div>
<!-- fabform end -->