<!-- form -->
<div class="form-contact-container">
      <form 
        name="contact-form-site"
        id="contact-form-site"
        class="form-validation"
        data-netlify="true"
        netlify-honeypot="bot-field"
        method="POST"
        data-netlify-recaptcha="true">
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" type="text" />
          </label>
        </p>
          <label class="label-form" for="firstName">{{ $.Get "given-name" }}:</label>
          <span id="warn-first-name" class="warn-form">{{ $.Get "warn_first_name" }}</span>
          <input class="input-form" id="firstName" name="firstName" type="text" placeholder='{{ $.Get "given-name" }}*' autocomplete="given-name">

          <label class="label-form" for="lastName">{{ $.Get "family-name" }}:</label>
          <span id="warn-last-name" class="warn-form">{{ $.Get "warn_last_name" }}</span>
          <input class="input-form" id="lastName" name="lastName" type="text" placeholder='{{ $.Get "family-name" }}*' autocomplete="family-name">

          <label class="label-form" for="email">{{ $.Get "email" }}:</label>
          <span id="warn-email" class="warn-form">{{ $.Get "warn_email" }}</span>
          <input class="input-form" id="email" name="email" type="email" placeholder='{{ $.Get "email" }}*' autocomplete="email">

          <label class="label-form" for="mobile">{{ $.Get "tel" }}:</label>
          <span id="warn-mobile" class="warn-form">{{ $.Get "warn_mobile" }}</span>
          <input class="input-form" id="mobile" name="mobile" type="tel" placeholder='{{ $.Get "tel" }}' autocomplete="tel">

          <label class="label-form" for="f_reason">{{ $.Get "f_reason" }}:</label>
          <span id="warn-reason" class="warn-form">{{ $.Get "warn_reason" }}</span>
          <select class="input-form" id="f_reason" name="f_reason">
            <option value="" disabled selected>{{ $.Get "f_reason" }}</option>
            <option value="graphic">{{ $.Get "gd" }}</option>
            <option value="web">{{ $.Get "wd" }}</option>
            <option value="inter">{{ $.Get "pt" }}</option>
            <option value="other">{{ $.Get "ot" }}</option>
          </select>

          <label class="label-form" for="message">{{ $.Get "message_head" }}:</label>
          <span id="warn-message" class="warn-form">{{ $.Get "warn_message" }}</span>
          <textarea class="input-form" id="message" name="message" placeholder='{{ $.Get "message" }}' rows="6"></textarea>
          
          <div class="recaptcha-form" data-netlify-recaptcha="true"></div>

          <button class="clear-button" type="reset">{{ $.Get "clear" }}</button>
          <button class="send-button" type="submit">{{ $.Get "send" }}</button>
      </form>
</div>
<!-- form end -->